<div id="headerwrap" class="font-hanna" style="background-size:cover;background-image:URL(https://images.unsplash.com/photo-1447023029226-ef8f6b52e3ea?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=36db41ace938e987e1f7f8b51c05001e)">
	<div class="container" align="center">
		<h1>찾고 계신 책이 있으신가요?</h1>
		<form class="form-inline" role="form" action="/home/search" method="POST">
		  <div class="form-group">
		    <input type="text" style="width:300px"class="form-control" name="search" placeholder="책 이름을 검색해 주세요">
		  </div>
		  <button type="submit" class="btn btn-warning btn-lg">찾기!</button>
		  <a type="button" class="btn btn-info btn-lg" href="/deal/sell_main">책 판매하기</a>
		</form>
	
	  <div class="well" align="left">
	    1. 로그인 기능 추가 (이메일 비밀번호 학번 학과 이름 닉네임 휴대폰번호) , 휴대폰 인증<br>
	    2. 책판매 페이지 : 판매신청서 db 작성 , 사용감으로 예상 가격 넣기<br>
	    3. 책사기 페이지 : 상품별 페이지, 카테고리별 구성<br>
	    4. 구입하기 버튼 눌렀을때 : 휴대폰 문자 가기<br>
	    5. 상품별 뷰 : 밑에 판매자에게 질문하기 <br>
	    6. 사용자별 개인 페이지 : 내가 뭘 팔았고 뭘 구입했고 <br>
	    7. 교환 책<br>
	    8. 공구 책<br>
	  </div>
	</div><!-- conainer -->
	
</div><!-- /headerwrap -->

	
	
<div>

	<div class="row centered">
  	
    	<div class="col-lg-3 col-sm-3 col-xs-12 font-hanna" style="padding:50px;background-size:cover;background-image:URL(http://www.intergate-immigration.com/blog/wp-content/uploads/2015/07/temporary-resident-south-africa-study.jpg)">
    		
    		<h1>현재 판매중인 책</h1>
    		<p>저렴한 책을 좋은 가격에!</p>
    		<a href="/deal/buy_main"><button class="grow_box btn-block">더 많은 책 보기</button></a>
    	</div><!--/col-lg-4 -->
      
      <div class="col-lg-9 col-sm-9 col-xs-12 font-hanna" >
        <div id="example" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <ul class="row item active">
      <% Book.all.each do |book|%>
      <li>
        <div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/deal/view/<%=book.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna"><%=book.book_title%></h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
      </li>
      <%end%>
    </ul>
    <ul class="row item">
      <li>
        <div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/home/view?id=%=meet.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna">책</h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
      </li>
      <li>
        <div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/home/view?id=%=meet.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna">책</h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
      </li>
      <li>
        <div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/home/view?id=%=meet.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna">책</h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
      </li>
    </ul>
  </div>

  <a class="carousel-control left" href="#example" data-slide="prev">Previous</a>
  <a class="carousel-control right" href="#example" data-slide="next">Next</a>
  
</div>
      </div>

	</div><!-- /row -->
</div><!-- /container -->
  
