<div align="center" style="height:300px; padding-top:100px;background-size:cover;background-image:URL(https://images.unsplash.com/photo-1427835569204-a54780340cb5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=004e391f8d744a509a9100f69ee96792)">

  <h1 class="font-hanna" style="color:white">[]에 대한 검색 결과</h1>
</div>


<div class="font-hanna" style="background-color:lightgray;padding:30px">
  <div class="row">
    
    
    <div class="col-xs-12 col-sm-12 col-md-12">
      
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/deal/view">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna">책</h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
    		
    		<div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/home/view?id=%=meet.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna">책</h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
    		
    		<div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/home/view?id=%=meet.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna">책</h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
    		
    		<div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/home/view?id=%=meet.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna">책</h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
      </div>

      
    </div>
  </div>
  
</div>