<div align="center" style="height:300px; padding-top:100px;background-size:cover;background-image:URL(https://images.unsplash.com/photo-1427835569204-a54780340cb5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=004e391f8d744a509a9100f69ee96792)">

  <h1 class="font-hanna" style="color:white">구 입 하 기</h1>
</div>


<div class="font-hanna" style="background-color:lightgray;padding:30px">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <a href="/deal/sell_main"><button class="grow_box btn-block"><h4>책 판매하기</h4></button></a><br>
                  
        <h4 class="font-hanna">카테고리</h4>
        
        <div class="btn-group-vertical btn-block">
          <label class="btn btn-default">
            <input type="radio" name="category" value="all" autocomplete="off"> 모두
          </label>
          <label class="btn btn-default">
            <input type="radio" name="category" value="스포츠" autocomplete="off"> 전공
          </label>
          <label class="btn btn-default">
            <input type="radio" name="category" value="과팅" autocomplete="off"> 교양
          </label>
          <label class="btn btn-default">
            <input type="radio" name="category" value="스터디" autocomplete="off"> 기타
          </label>
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8">
      
      <div class="row">
        <% Book.all.reverse_each do |book| %>
        <div class="col-md-3 col-sm-4 col-xs-6">
    			<a href="/deal/view/<%=book.id%>">
    			  
    			<div class="panel panel-default">
            <div class="panel-body" style="background-image:URL(%=meet.file%>);height:150px;background-size:contain">
             
            </div>
            <div class="panel-footer">
              <h4 class="font-hanna"><%=book.book_title%></h4>
            </div>
          </div>
    			</a>
    		</div><!--/col-lg-4 -->
    		<%end%>

      </div>
    </div>
  
  </div>
</div>