
<div align="center" style="height:300px; padding-top:100px;background-size:cover;background-image:URL(https://images.unsplash.com/photo-1430508522325-7421aca30dfc?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=f89dd598cf1c9cff726b000fe6ab2e12)">

  <h1 class="font-hanna" style="color:white">판 매 절 차</h1>
</div>

<div class="font-hanna" style="background-color:lightgray; padding:50px">
 
  <div class="row mt centerd">
    <div class="col-xs-5 col-sm-3 col-md-2" >
      <div class="responsive-circle nyc-circle">
        <div class="circle-inner">1</div>
      </div>
    </div>
    
    <div class="col-xs-7 col-sm-9 col-md-10">
      <br>
      <h3>시험이 끝난 책을 모아 놓으세요!</h3>
    </div>
  </div>
  
  
  <div class="row mt">
    <div class="col-xs-5 col-sm-3 col-md-2" >
      <div class="responsive-circle nyc-circle">
        <div class="circle-inner">2</div>
      </div>
    </div>
    
    <div class="col-xs-7 col-sm-9 col-md-10">
      <br>
      <h3>판매신청서를 작성하세요!</h3>
    </div>
  </div>
  
  
  <div class="row mt">
    <div class="col-xs-5 col-sm-3 col-md-2" >
      <div class="responsive-circle nyc-circle">
        <div class="circle-inner">3</div>
      </div>
    </div>
    
    <div class="col-xs-7 col-sm-9 col-md-10">
      <br>
      <h3>구매자가 나타날때까지 기다리면 끝!</h3>
    </div>
  </div>
  
  <center>
    <% if current_user %>
      <a href="/deal/sell_form"><button class="grow_box"><h3> 책 판매하러 가기 </h3></button></a>
    <% else %>
      <a href="/users/sign_in"><button class="grow_box" onclick="alert('로그인이 필요한 서비스입니다. 로그인 페이지로 이동합니다!')"><h3> 책 판매하러 가기 </h3></button></a>
    <% end %>
  </center>
  
  
</div>