<form action="/deal/sell_action" method="POST" enctype="multipart/form-data">	
<div class="content-background">
  <div class="container">
    
    <div class="panel panel-default" style="margin-top:50px">
      <div class="panel-body">
        <div align="center" style="padding:50px">
          <h1 class="font-hanna">책 판매 신청서
          <br/></h1>
          <input type="hidden" name="user_id" value="<%=current_user.id%>">
          
          <hr>
          
          
          <div class="container font-nanum">
            <div class="row mt centered">
            <strong><p align="left">1. 책 기본 정보 입력 (필수)</p></strong>
              
              <div class="col-xs-12 col-sm-10 col-md-10"> 
              
                
                <div class="input-group"> 
                  <span class="input-group-addon" id="basic-addon1">책 구 분</span>
                  <select name="book_category" class="form-control" required>
                    <option value="전공">전공</option>
                    <option value="교양">교양</option>
                    <option value="기타">기타</option>
                  </select>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">책 제목</span>
                  <input class="typeahead form-control" name="book_title" type="text" required></input>
                  <!--<input class="form-control" type="text" name="book_title" required></input>-->
                </div>
                
               
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">지 은 이</span>
                  <input class="typeahead form-control" type="text" name="book_writer" required></input>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">출 판 사</span>
                  <input class="typeahead form-control" type="text" name="book_company" required></input>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">정&nbsp;&nbsp;&nbsp; 가</span>
                  <input class="form-control" type="number" id="book_price" name="book_price" min="0" max="1000000" required></input>
                  
                </div>
                
                <br>
                <div class="form-group">
                  <div class="input-group upload-preview" style = "width: 300px;" >
                    <span class="input-group-addon" id="basic-addon1">책 사 진</span>
                    <input class="form-control" type="file" id="imgfile" name="pic" accept="image/*" required></input>
                   
                    <img style="width: 300px; height: 300px;"/>
                   
                </div>
                  
                  <!--<input type="file" id="exampleInputFile" name="pic">-->
                  <!--<p class="help-block">교재 사진을 반드시 올려주세요!</p>-->
                </div>
                
              </div><!--col-md-4-->
             
            </div>
            <br><br>
            
            <div class="row mt centered">
            <strong><p align="left">2. 수업 정보 입력 (선택)</p></strong>
              <p align="left">수업 정보를 입력하면 구매자들이 더 쉽게 접근할 수 있으며, 빠른 판매가 가능합니다.<br>
              작성하시기를 권장합니다.</p>
              <div class="col-xs-12 col-sm-10 col-md-10"> 
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">강&nbsp;&nbsp;의&nbsp;&nbsp;명</span>
                  <input class="form-control" type="text" name="class" ></input>
                </div>
                
                <br>
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">교수님 성함</span>
                  <input class="form-control" type="text" name="teacher"></input>
                </div>
                
                <br>
              
                
              </div><!--col-md-4-->
             
            </div>
            <br><br>
            
            <div class="row mt centered">
            <strong><p align="left">3. 책 상태 체크 (필수)</p></strong>
              
              <div class="col-xs-12 col-sm-10 col-md-10"> 
                <div class="row mt centered">
                  
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title"><strong>사용감</strong><br><h5>겉표지, 구김정도, 젖은흔적 등 전체적인 상태</h5></h3>
                      </div>
                      <div class="panel-body">
                        <div class="radio">
                          <label><input type="radio" name="out_state" value="매우 많음" required>매우 많음</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="out_state" value="조금 있음" >조금 있음</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="out_state" value="거의 없음" >거의 없음</label>
                        </div>
                      </div>
                    </div>
                  </div>
                
                
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title"><strong>필기 상태</strong><br><h5>책 안의 메모, 낙서 등의 상태</h5></h3>
                      </div>
                      <div class="panel-body">
                        <div class="radio"> <!--정가에 곱해서 가격 책정하므로 비율로 나타냄!-->
                          <label><input type="radio" name="in_state" value="매우 많음" required>매우 많음</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="in_state" value="조금 있음">조금 있음</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="in_state" value="거의 없음">거의 없음</label>
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h3 class="panel-title"><strong>분권유무</strong></h3>
                      </div>
                      <div class="panel-body">
                        <div class="radio">
                          <label><input type="radio" name="saperate" value="분권함" required>분권함</label>
                        </div>
                        <div class="radio">
                          <label><input type="radio" name="saperate" value="분권하지 않음" >분권하지 않음</label>
                        </div>
                      </div>
                    </div>
                  </div>
                
                
                <br>
               
                </div><!--col-md-4-->
                
              </div>
            </div>
            <br><br>
            
            <div class="row mt centered">
            <strong><p align="left">4. 가격 책정 (필수)</p></strong>
              
              <div class="col-xs-8 col-sm-10 col-md-10" > 
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">중고 책방 추천 가격</span>
                  <input class="form-control" type="number" id="recommend_price" value="0" disabled></input>
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-toggle="collapse" data-target="#table" aria-expanded="false" aria-controls="table">산정 비율 보기</button>
                  </span>
                </div>
                
                추천가격은 일정한 비율을 적용하여 계산한 값입니다.
                
                ( 추천가격 = 사용감 비율 X 필기상태 비율 X 분권 비율 )
                <br><br>
                <div class="row collapse" id="table">
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>구분</th>
                          <th>사용감</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">매우 많음</th>
                          <td>0.6</td>
                        </tr>
                        <tr>
                          <th scope="row">조금 있음</th>
                          <td>0.8</td>
                        </tr>
                        <tr>
                          <th scope="row">거의 없음</th>
                          <td>1.0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>구분</th>
                          <th>필기 상태</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">매우 많음</th>
                          <td>0.6</td>
                        </tr>
                        <tr>
                          <th scope="row">조금 있음</th>
                          <td>0.8</td>
                        </tr>
                        <tr>
                          <th scope="row">거의 없음</th>
                          <td>1.0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                  <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>구분</th>
                          <th>분권 유무</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">분권함</th>
                          <td>0.6</td>
                        </tr>
                        <tr>
                          <th scope="row">분권하지 않음</th>
                          <td>1.0</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                
                
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">사용자 판매 가격</span>
                  <input class="form-control" type="number" id="sell_price" name="sell_price" min="0" max="1000000" required></input>
                </div>
                
                <input type="checkbox" name="apply" value="ok">추천가격을 적용하겠습니다.</label>
                
              </div><!--col-md-4-->
            
            </div>
            <br><br>
            
            
          </div>
          
          <div class="checkbox">
            <label><input type="checkbox" name="message_alert" value="send">문자 알림을 받겠습니다.</label>
          </div>
          
          <button type="submit" class="btn btn-info btn-lg font-hanna">판매 등록</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>

<script>
var book_price; //정가
var out_state = 1.0;
var in_state = 1.0;
var saperate = 1.0;
var result;


$(document).ready(function(){
  
  
    var preview = $(".upload-preview img");

    $("#imgfile").change(function(event){
       var input = $(event.currentTarget);
       var file = input[0].files[0];
       var reader = new FileReader();
       reader.onload = function(e){
           image_base64 = e.target.result;
           preview.attr("src", image_base64);
       };
       reader.readAsDataURL(file);
    });

  
    $('#book_price').change(function(){ //정가변경시
        
          book_price = $(this).val();
          // alert(book_price);
          result = book_price * out_state * in_state * saperate;
          $("#recommend_price").val(result);
    });
    
    $("input[name=out_state]").change(function() {
        var radioValue = $(this).val();
  			
  			if (radioValue == "매우 많음") {
  				out_state = 0.6;
  			} else if (radioValue == "조금 있음") {
  				out_state = 0.8;
  			} else if (radioValue == "거의 없음") {
  				out_state = 1.0;
  			}
  			
  			result = book_price * out_state * in_state * saperate;
        $("#recommend_price").val(result);
  			
    });
    
    $("input[name=in_state]").change(function() {
        var radioValue = $(this).val();
  			
  			if (radioValue == "매우 많음") {
  				in_state = 0.6;
  			} else if (radioValue == "조금 있음") {
  				in_state = 0.8;
  			} else if (radioValue == "거의 없음") {
  				in_state = 1.0;
  			}
  			
  			result = book_price * out_state * in_state * saperate;
        $("#recommend_price").val(result);
    });
   
   $("input[name=saperate]").change(function() {
        var radioValue = $(this).val();
  			
  			if (radioValue == "분권함") {
  				saperate = 0.6;
  			} else if (radioValue == "분권하지 않음") {
  				saperate = 1.0;
  			} 
  			
  			result = book_price * out_state * in_state * saperate;
        $("#recommend_price").val(result);
    });
    
    // $("input:checkbox[id='ID']").is(":checked") == true : false
    $("input[name=apply]").change(function() {
      if ($(this).val() == "ok")
            $("#sell_price").val(result);
      else 
            $("#sell_price").val("");
    });
    
    
    // 여기서부터 자동완성 기능 변수 지정
    
    
    // $('input[name=book_title]').focus(function() {
    //   var states = [
    //     % Book.all.each do |book|%>
    //       "%=book.book_title.to_s%>",
    //     %end%>
    //     ];
    // });
    
    // $('input[name=book_writer]').focus(function() {
    //   var states = [
    //     % Book.all.each do |book|%>
    //       "%=book.book_writer.to_s%>",
    //     %end%>
    //     ];
    // });
    
    // $('input[name=book_company]').focus(function() {
    //   var states = [
    //     % Book.all.each do |book|%>
    //       "<=book.book_company.to_s%>",
    //     %end%>
    //     ];
    // });
    
    
    var substringMatcher = function(strs) {
                    return function findMatches(q, cb) {
                      var matches, substringRegex;
                  
                      // an array that will be populated with substring matches
                      matches = [];
                  
                      // regex used to determine if a string contains the substring `q`
                      substrRegex = new RegExp(q, 'i');
                  
                      // iterate through the pool of strings and for any string that
                      // contains the substring `q`, add it to the `matches` array
                      $.each(strs, function(i, str) {
                        if (substrRegex.test(str)) {
                          matches.push(str);
                        }
                      });
                  
                      cb(matches);
                    };
                  };
                // % ary = Array.new %>
                // % Book.all.each do |book|%>
                //   % ary << book.book_title.to_s %>
                // %end%>
                
                var states = [
                <% Book.all.each do |book|%>
                  "<%=book.book_title.to_s%>",
                <%end%>
                ];
                
                  $('.input-group .typeahead').typeahead({
                    hint: true,
                    highlight: true,
                    minLength: 1
                  },
                  {
                    name: 'states',
                    source: substringMatcher(states)
                  });
    
});


// function getCheckedRadioValue(radioGroupName) {
//   var rads = document.getElementsByName(radioGroupName),
//       i;
//   for (i=0; i < rads.length; i++)
//       if (rads[i].checked)
//           return rads[i].value;
//   return null; // or undefined, or your preferred default for none checked
// }




// var book_price=0; //정가
// var out_state =0;
// var in_state=0;
// var saperate=0;

// function Book_price(price) {
//   alert($('#book_price').val());
//   // book_price = document.getElementsByName('book_price').value;
//   // book_price = price;
//   // alert(book_price);
//   // // $('#recommend_price').val(book_price);
  
//   // alert(document.getElementsByName("recommend_price").innerText) ;
//   // alert(book_price);
//   // var a = document.getElementsByName('recommend_price')
//   // a.value = book_price;
//   // alert(price);
// }

// if book_price
// {
//   var out_per;
//   var in_per;
//   var sep_per;
  
//   var result;
  
//   switch (out_state){
//     case "분권함" :
//       out_per = 0.6;
//       break;
//     case "분권하지 않음" :
//       out_per = 0.8;
//       break;
//     case "거의 없음" :
//       out_per = 1.0;
//       break;
//   }
  
//   switch (in_state){
//     case "매우 많음" :
//       in_per = 0.6;
//       break;
//     case "조금 있음" :
//       in_per = 0.8;
//       break;
//     case "거의 없음" :
//       in_per = 1.0;
//       break;
//   }
  
//   switch (seperate){
//     case "분권함" :
//       sep_per = 0.6;
//       break;
//     case "분권하지 않음" :
//       sep_per = 1.0;
//       break;
//   }
  
//   result = book_price * out_per * in_per * sep_per ; 
  
//   $('#recommend_price').val(result);
// }
// function getCheckedRadioValue(radioGroupName) {
//   var rads = document.getElementsByName(radioGroupName),
//       i;
//   for (i=0; i < rads.length; i++)
//       if (rads[i].checked)
//           return rads[i].value;
//   return null; // or undefined, or your preferred default for none checked
// }


// alert($("input[name=out_state]:checked").val());

</script>