<%= render "share/sidebar.erb" %>


<div class="wrapper">
    <!-- Sidebar Constructor -->
    <div class="constructor">
      <div class="jumbotron jumbotron-sm" style="background-color:skyblue">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="font-hanna">
                      <% @menu = params[:menu] %>
                      
                      <% if @menu=="구매" or @menu=="판매"%>
                        거래관리 <small><%=@menu%></small>
                      <% else%>
                        <%=@menu%>
                      <%end%>
                     
                      </h1>
                </div>
            </div>
        </div>
      </div>
      
      <%= render "share/usercontent.erb" %>
      
      <!--<p><button class="sidebar-toggle">Toggle sidebar</button></p>-->
    </div>
</div>





<script>
$(document).ready(function() {

    var sidebar = $('#sidebar');
    var sidebarHeader = $('#sidebar .sidebar-header');
    var sidebarImg = sidebarHeader.css('background-image');
    var toggleButtons = $('.sidebar-toggle');

    // Hide toggle buttons on default position
    // toggleButtons.css('display', 'none');
    $('body').css('display', 'table');

});
</script>