<%= render "deal/sidebar.erb" %>


<div class="wrapper" style="padding-top:50px">
  
  <div class="container">
    <div class="row">
      <div class="col-md-1 col-sm-1">
        <button type="button" class="btn btn-side"><h1><span class="glyphicon glyphicon-play" aria-hidden="true"></span></h1></button>
      </div>
      
      <div class="col-md-11 col-sm-11">
        <!-- Sidebar Constructor -->
        <!--<div class="constructor">-->
          
          <div class="jumbotron jumbotron-sm" style="background-color:skyblue">
            <div class="container">
                <!--<div class="row">-->
                <!--    <div class="col-sm-12 col-lg-12">-->
                        <h1 class="font-hanna">
                            프로필 <small>프로필 수정</small></h1>
                <!--    </div>-->
                <!--</div>-->
            </div>
          </div>
        
          <div class="container">
              <div class="row">
                  <div class="col-md-10">
                      <div class="panel panel-default">
      					
            					<div class="panel-body">
              					
              					<table class="table table-hover" id="dev-table">
              						<tbody>
              							<tr>
              								<th>이메일</th>
              								<td><%=current_user.email%></td>
              							</tr>
              							
              							<tr>
              								<th>비밀번호</th>
              								<td>어쩌구저쩌구</td>
              							</tr>
              						</tbody>
              					</table>
              				</div>
            				</div>
                  </div>
                  
                  <div class="col-md-2 col-xs-12" >
                  </div>
              </div>
          </div>
    
          
          
          
          
          
          
          
          
          
            <!--<h2 class="headline">Material Sidebar (Profile menu)</h2>-->
            <!--<p class="subhead">Based on <a href="https://www.google.com/design/spec/material-design/introduction.html" target="_blank">Material Design by Google</a>.</p>-->
            <!--<p>Icons from <a href="http://zavoloklom.github.io/material-design-iconic-font" target="_blank">Material Design Iconic Font</a></p>-->
            <!--<p>Tested on Win8.1 with browsers: Chrome 37,  Firefox 32, Opera 25, IE 11, Safari 5.1.7</p>-->
            <!--<hr />-->
            <!--<p>You can use this sidebar in Bootstrap (v3) projects. HTML-markup like <a href="http://getbootstrap.com/components/#navbar" target="_blank">Navbar bootstrap component</a> will make your work easier.</p>-->
            <!--<p>Dropdown menu and sidebar toggle button works with JQuery and Bootstrap.min.js</p>-->
            <!--<hr />-->
            <!--<h2 class="headline">Sidebar Constructor</h2>-->
            <!--<p>-->
            <!--    <label for="sidebar-position">Sidebar postion</label>-->
            <!--    <select id="sidebar-position" name="sidebar-position">-->
            <!--        <option value="">Default</option>-->
            <!--        <option value="sidebar-fixed-left">Float on left</option>-->
            <!--        <option value="sidebar-fixed-right">Float on right</option>-->
            <!--        <option value="sidebar-stacked">Stacked on left</option>-->
            <!--    </select>-->
            <!--</p>-->
            <!--<p>-->
            <!--    <label for="sidebar-theme">Sidebar theme</label>-->
            <!--    <select id="sidebar-theme" name="sidebar-theme">-->
            <!--        <option value="sidebar-default">Default</option>-->
            <!--        <option value="sidebar-inverse">Inverse</option>-->
            <!--        <option value="sidebar-colored">Colored</option>-->
            <!--        <option value="sidebar-colored-inverse">Colored-Inverse</option>-->
            <!--    </select>-->
            <!--</p>-->
            <!--<p>-->
            <!--    <label for="sidebar-header">Sidebar header cover</label>-->
            <!--    <select id="sidebar-header" name="sidebar-header">-->
            <!--        <option value="header-cover">Image cover</option>-->
            <!--        <option value="">Color cover</option>-->
            <!--    </select>-->
            <!--</p>-->
            
            
            <p><button class="sidebar-toggle">Toggle sidebar</button></p>
        </div>
      </div>
    </div>
  </div>
</div>




