/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.font-hanna{
    font-family: 'Hanna', serif;
}

.font-nanum{
    font-family: 'Nanum Gothic', serif;
}
body{
  padding-top:50px;
}

/*.effect8:hover{*/
    
		/*box-shadow:0 150px 0 0 rgba(0,0,0,0.5) inset;*/
	
    /*box-shadow: 0 1px 8px black inset;*/
  /*opacity: 0.8;*/
/*		box-shadow:*/
/*			0 300px 0 0  rgba(0,0,0,0.25) inset;*/
		
/*		color:white;*/
/*}*/
	
/*.hover {*/
/*    padding: 50px;*/
/*    padding-right:30px;*/
/*    height: auto;*/
/*    min-height: 300px; */
/*    overflow: auto;*/
/*		cursor: pointer; */
/*}*/



.content-background{
   background: linear-gradient(to bottom, lightblue 0%,lightblue 50%,#000000 50%,white 50%,white 100%); /* W3C */
}

.panel-effect:hover{box-shadow: 0 1px 8px black;
-webkit-transform: scale(1.1);;-moz-transform: scale(1.1);-o-transform: scale(1.1);
-webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s; -ms-transition:.3s;}



.alert{
    opacity: 0.8;
    -moz-opacity: 0.8; /* opacity [0-1] */
    -webkit-opacity: 0.8; /* opacity [0-1] */
    
    position: fixed;
    top: 90;
    right: 0;
    margin-top:40px;
    margin-right:40px;
    width: 30%;
    /*position: fixed;*/
    /*top: 3em;*/
    /*left: 20%;*/
    /*right: 20%;*/
    /*z-index: 1051; /* must be equal to or larger than .modal */
    /*opacity:0;*/

}

/*body {*/
/*      position: relative;*/
/*  }*/
/*.affix {*/
/*  top:0;*/
/*  width: 100%;*/
/*  z-index: 9999 !important;*/
/*}*/
/*.navbar {*/
/*  margin-bottom: 0px;*/
/*}*/

/*.affix ~ .container-fluid {*/
/* position: relative;*/
 /*top: 50px;*/
/*}*/

/*더보기 버튼*/
button.grow_box {
  
  background: #3498db;
  color: #fff;
  border: 0.25rem solid #3498db;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
button.grow_box:hover {
  color: #3498db;
}

button.grow_box::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0);
  
  content: "";
  background: #ecf0f1;
  position: absolute;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
  
  transition: all 0.3s ease;
}
button.grow_box:hover::after {
  transition: all 0.3s ease-out;
  transform: scale(1, 1);
}



.carousel[data-shift="1"] .carousel-inner > .item {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.carousel .carousel-inner > .item.row { margin: 0; }

.carousel .carousel-control {
  background: none;
  color: transparent;
  overflow: hidden;
  text-shadow: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 30px;
}

.carousel .carousel-control:before {
  color: #444;
  font-family: 'Glyphicons Halflings';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 30px;
}

.carousel .carousel-control:after {
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  content: '';
  height: 60%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  width: 100%;
}

.carousel .carousel-control:hover:after { box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.7); }

.carousel .carousel-control.left { left: -13px; }

.carousel .carousel-control.left:before { content: '\e079'; }

.carousel .carousel-control.left:after { right: -100%; }

.carousel .carousel-control.right { right: 0px; }

.carousel .carousel-control.right:before { content: '\e080'; }

.carousel .carousel-control.right:after { left: -100%; }

.footer{
  padding:50px;
}



/*로딩*/

.loading {
  margin: 10% auto;
    border-bottom: 6px solid #fff;
    border-left: 6px solid #fff;
    border-right: 6px solid #c30;
    border-top: 6px solid #c30;
    border-radius: 100%;
    height: 125px;
    width: 125px;
    -webkit-animation: spin .6s infinite linear;
    -moz-animation: spin .6s infinite linear;
    -ms-animation: spin .6s infinite linear;
    -o-animation: spin .6s infinite linear;
    animation: spin .6s infinite linear;
}

@keyframes "spin" {
 from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
 }
 to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    transform: rotate(359deg);
 }

}

@-moz-keyframes spin {
 from {
   -moz-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -moz-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-webkit-keyframes "spin" {
 from {
   -webkit-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -webkit-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-ms-keyframes "spin" {
 from {
   -ms-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -ms-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}

@-o-keyframes "spin" {
 from {
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
 }
 to {
   -o-transform: rotate(359deg);
   transform: rotate(359deg);
 }

}



/*로딩끝*/

