<!DOCTYPE html>
<html>
<head>
  <title> PTU 중고책방 ; 비교하며 사세요 !</title>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  
  <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <!--캐러셀-->
  <script src="//code.jquery.com/jquery-2.2.0.min.js"></script> 
  
  <link rel="stylesheet" type="text/css" href="/assets/stylesheet/main.css">
    <!-- Fonts from Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/hanna.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	
	
	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if gte IE 9]><!-->
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <!--<![endif]-->
    
</head>

<body>
<!--상단바-->

  <!--data-spy="affix"-->
<nav class="navbar navbar-default navbar-fixed-top font-hanna"  data-offset-top="0">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ><b >PTU 중고책방 </b></a>
    </div>
    <div>
      <div class="navbar-collapse collapse">
        
        <ul class="nav navbar-nav navbar-left">
          <li><a href="/deal/buy_main">책 사기</a></li>
          <li><a href="/deal/sell_main">책 판매하기</a></li>
        </ul>
        
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="책을 검색해 주세요!">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
        
        <ul class="nav navbar-nav navbar-right">
          <!--% if current_user%>-->
          <!--  <li><a href="#">%=current_user.nickname%>님</a></li>-->
          <!--  <li>%= link_to "로그아웃", destroy_user_session_path, :method => :delete %></li>-->
          <!--%else%>-->
            <li><a href="/users/sign_in">이미 회원이신가요?</a></li>
          <!--%end%>-->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</nav>
    
<%= yield %>

<div class="footer">
  Copyright © likelion_at_ptu
</div>

</body>
</html>
